<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879646947146-66la2al0qpodnv0bo7tc2ld1ghefudph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879646947146-66la2al0qpodnv0bo7tc2ld1ghefudph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879646947146-62mk8kmu9kofemeu1899vm6ahfrlrta7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg0bJC2UftDRoTS8DyxfU_ebPvxf1oPEE</string>
	<key>GCM_SENDER_ID</key>
	<string>879646947146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bsites</string>
	<key>PROJECT_ID</key>
	<string>bsite-80ada</string>
	<key>STORAGE_BUCKET</key>
	<string>bsite-80ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879646947146:ios:aad7edc403f963047b73b3</string>
	<key>DATABASE_URL</key>
	<string>https://bsite-80ada-default-rtdb.firebaseio.com</string>
</dict>
</plist>